Flask
insightface
llama-index
mediapipe
numpy
openai
openai-realtime-client
opencv-python
pydantic
pyserial
requests
sounddevice
huggingface_hub==0.23.5
speechbrain==1.0.3
torch
torchaudio
python-dotenv
